body
{
	background: lightblue;
}

	.login_div1 , .login_div2
	{
		background: rgb(25, 201, 163);
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}
.btn-6 {
    background: rgb(247,150,192);
  background: radial-gradient(circle, rgba(247,150,192,1) 0%, rgba(118,174,241,1) 100%);
    line-height: 42px;
    padding: 0;
    border: none;
    width: 100;
  }
  
#output
{
  background: white;
  border-radius: 10px;
  border-top: 10px solid #AA4465;
  padding-top: 10px;
  float: none;
  text-align: left;
}